---
# This main sass file requires this front-matter section.
---

@charset "utf-8";

/*
 * Define hosted fonts (required for proper rendering of boxart)
 */

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/EOT/SourceCodePro-Light.eot') format('embedded-opentype'),
         url('fonts/WOFF2/OTF/SourceCodePro-Light.otf.woff2') format('woff2'),
         url('fonts/WOFF/OTF/SourceCodePro-Light.otf.woff') format('woff'),
         url('fonts/OTF/SourceCodePro-Light.otf') format('opentype'),
         url('fonts/TTF/SourceCodePro-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/EOT/SourceCodePro-Medium.eot') format('embedded-opentype'),
         url('fonts/WOFF2/OTF/SourceCodePro-Medium.otf.woff2') format('woff2'),
         url('fonts/WOFF/OTF/SourceCodePro-Medium.otf.woff') format('woff'),
         url('fonts/OTF/SourceCodePro-Medium.otf') format('opentype'),
         url('fonts/TTF/SourceCodePro-Medium.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/EOT/SourceCodePro-Bold.eot') format('embedded-opentype'),
         url('fonts/WOFF2/OTF/SourceCodePro-Bold.otf.woff2') format('woff2'),
         url('fonts/WOFF/OTF/SourceCodePro-Bold.otf.woff') format('woff'),
         url('fonts/OTF/SourceCodePro-Bold.otf') format('opentype'),
         url('fonts/TTF/SourceCodePro-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/EOT/SourceSansPro-Light.eot') format('embedded-opentype'),
         url('fonts/WOFF/OTF/SourceSansPro-Light.otf.woff') format('woff'),
         url('fonts/OTF/SourceSansPro-Light.otf') format('opentype'),
         url('fonts/TTF/SourceSansPro-Light.ttf') format('truetype');
}

/*
 * Now its time to define a lot of variables.
 * All colours and sizes should be modified here, not in the CSS.
 */


/* BASE SIZE */
/* All sizes computed from this (using multiplication). */
$base: 19px; 




/*
 * Font & font sizes.
 */
$base-font-family: 'Source Code Pro', monospace;
$syntax-font-family: 'Source Code Pro', monospace;
$p-font-family: 'Source Sans Pro', sans-serif;
$base-font-size: $base;
$p-font-size: $base * 1.1;
$small-font-size: $base-font-size * 0.75;
$half-font-size: $base-font-size * 0.5;
$big-font-size: $base-font-size * 1.25;

$light-weight: 300;
$medium-weight: 500;
$heavy-weight: 700;

$body-font-weight: $light-weight;
$header-weight: $medium-weight;
$site-title-weight: $heavy-weight;
/* Used on the bullet point itself, not the text. */
$bullet-weight: $heavy-weight;

$h1-size-coef: 2;
$h2-size-coef: 1.7;
$h3-size-coef: 1.4;
$h4-size-coef: 1.2;
$h5-size-coef: 0.9;
$h6-size-coef: 0.5;
$taglist-size-coef: 0.8;

/*
 * All Spacings
 */
/* Line spacing. */
$base-line-height: $base * 1.5;
/* Minimum gap between most elements. */
$standard-margin: $base * 0.3;
/* The minimum left and right gutter for most text.
 * Only affects small screens / squashed windows. */
$standard-side-margin: $standard-margin * 0.8;
/* End of paragraph extra space */
$endpara-margin: $standard-margin * 3;

/*
 * Misc
 */
/* Border edge radius. */
$standard-radius: $base * 0.4; /* Used by bullet lists. */
$code-radius: $base * 0.2; /* Used by inline code blocks.  */

$thin-line: $base * 0.1;
$medium-line:$thin-line * 3;
$thick-line:$thin-line * 7;


/*
 * Reading width is the max for paragraphs of text and is narrow.
 * Article width is the max for headers, code and other content which can take advantage of wider screens.#
 * Remember these are MAX values, they may be made smaller according to the screen/window size.
 */
$reading-width: $base * 30;
$article-width: $reading-width * 1.8; /* Max with of any article content. */
$blockq-width: $reading-width + $thick-line + $standard-side-margin + 50;
/* Bullet points get wider space than standard text blocks. */
$bullet-width: $article-width * 0.95; /* A bit less than max. */
$bullet-indent: $base /2;
$bullet-text-gap: $base * 0.5;

/*
 * Colours
 * Only four basic colours, rest are computed.
 */
$text-colour: #DDD;
$background-colour: #272822;
$highlight-colour: #fd971f; /* foreground, lines and headers. */
$link-colour: #a6e22e; /* This sould be the colour for all clickables. */

/* Colours for borders and lines. */
/* May want to change around lighten/darken for light themes. */
$strong-colour: lighten($highlight-colour, 25%);
$subtle-colour: darken($highlight-colour, 30%); /* Used to compute feature colour. */
$very-subtle-colour: darken($highlight-colour, 40%);

/* Titles and special elements. */
$feature-colour: darken(mix($background-colour, $subtle-colour, 80%), 10%);
$minor-feature-colour: darken($background-colour, 5%);
$visited-colour: darken($link-colour, 15%);
$code-colour: mix($text-colour, $highlight-colour);
$code-background: $feature-colour;
$bullet-background: $minor-feature-colour;
$blockq-background: $minor-feature-colour;

/*
 * Import partials from `sass_dir` (defaults to `_sass`)
 */
/* Normalize is not for editing.
 * There are many quirks and differences between browsers.
 * Normalizse is a magic css file for flattening out those differences.
 * This gives us a safer consistent base to work from.*/
@import "normalize";
/* 99% of the text and body formatting is contain here. */
@import "base";
/* This only defines the lines around the header and footer. */
@import "layout";
/* This is used to apply a suitable theme to the sytax highlighting performed by Rouge. */
@import "syntax";
