---
layout: base
permalink: /archive/
---
<section>
  <h2>Archive</h2>
  <section>
    <h3 id="article">Articles</h3>
    {% for post in site.posts %}
      {% if post.category == "article" %}
        {% include index-entry.html %}
      {% endif %}
    {% endfor %}
  </section>
  <section>
    <h3 id="note">Notes</h3>
    {% for post in site.posts %}
      {% if post.category == "note" %}
        {% include index-entry.html %}
      {% endif %}
    {% endfor %}  
  </section>
</section>
<section>  
  <h2>Posts by Tag</h2>
  {% assign taglist = site.tags | sort  %}
  {% for tag in taglist %}
    <section>
    <h3 id="{{ tag[0] }}">{{ tag[0] }}</h3>
    {% for post in site.posts %}
      {% for posttag in post.tags %}
        {% if posttag == tag[0] %}
          {% include index-entry.html %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    </section>
  {% endfor %}
</section>