---
layout: default
---

<p><center>
  Weblog not ready yet, currently testing and setting things up.
</center></p>

<h5><pre class="art-p">╭─╮╭─╴╭─╴╭─╴┌─╮╶┬╴
│┬╯├─ │  ├─ │ │ │
╵╰╴╰─╴╰─╴╰─╴╵ ╵ ╵ </pre>
<pre class="art-p">╭─╮╭─╮╭─╴╶┬╴╭─╴
├─╯│ │╰─╮ │ ╰─╮
╵  ╰─╯╶─╯ ╵ ╶─╯</pre></h5>

{% for post in site.posts limit:5 %}
<div class="index">
  <div>
    <span class="index-title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a>
    </span>
    <span class="index-info">
      <b>[{{ post.category }}]</b> {% for tag in post.tags %} [{{tag}}] {% endfor %} {{ post.date | date: "%b %-d, %Y" }} 
    </span>
  </div>
  <div class="index-excerpt">
    <p>{{ post.excerpt | strip_html | truncate: 256 }}...</p>
  </div>
</div>
{% endfor %}



