<section>
    <div id="comments-load-button" class="comments-load-button">
        <script type="text/javascript">
        function loadcomments() {

            //Hide the load button, it is no longer needed.
            document.getElementById('comments-load-button').style.display = 'none'

            //Unhide the comments div.
            document.getElementById('disqus_thread').style.display = 'block'

            //Page-specific configuration for Disqus comments.
            var disqus_config = function() {
                //Base url is a mess when testing and i might sqitch domain anyway.
                //this.page.url = {{ site.baseurl }}{{ page.url | replace:'index.html','' }};
                this.page.identifier = "{{ page.date }}-{{ page.title }}";
            };


            //Create an element for the script and then shove it in the head.
            var scriptele = document.createElement('script')
            scriptele.setAttribute("type", "text/javascript")
            scriptele.setAttribute("src", "{{site.baseurl}}/js/disqus.js")
            document.getElementsByTagName("head")[0].appendChild(scriptele)
        }
        </script>
        <div class="centre-block">
            Loading comments will open connections to <a href="https://help.disqus.com/customer/portal/topics/215159-terms-and-policies/articles">Disqus</a> and <a href="https://support.google.com/analytics/answer/6004245?hl=en">Google</a>.
            <br>
            <a href="{{ site.baseurl }}/images/nudgenudge.png">It may be possible</a> that they will datamine and track you and your comments.
            <br>
            <br>
            <button onclick="loadcomments()">Click to load Disqus comments</button>
        </div>
    </div>
    <div id="disqus_thread" class="comments-block"></div>
</section>
