<footer class="site-footer">
<pre class="art-block-small"><a href="#">       ▁▁
scroll ╱╲ to top</a></pre>
<br/><br/>
<pre class="art-block-small">╭┬╮╭─╮┐│  ▝ 
╵ ╵╰─╵╰╰╴ ▝ </pre><span class="fblock">blog at t3hmun dot com</span>
<br/>
<span class="fblock">See my code at </span>
<pre class="art-block-small"><a href="http://github.com/t3hmun">╭─╴.   ╷ ╷    
│ ┐┐ ┼ ├─┤╷╷├╮
╰─╯╰╴╰╴╵ ╵╰╯└╯</a></pre>
<br/>
Site content is licensed as 
<pre class="art-block-small"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">╭─╴╭─╴            
│  │   attribution
╰─╴╰─╴            </a></pre>
<pre class="art-block-small"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"> ╭─╴     ╭─╮    
 ╰─╮hare ├─┤like
 ╶─╯     ╵ ╵    </a></pre>
<pre class="art"><a href="{{ site.baseurl }}/"><center>  ╶─╮            
┼╴ ─┤├─╮╭┬╮╷ ╷┌─╮
╰╴╶─╯╵ ╵╵ ╵╰─╯╵ ╵</center></a></pre>
</footer>
