<header class="site-header">
<pre class="art"><a href="{{ site.baseurl }}/">  ╶─╮            
┼╴ ─┤├─╮╭┬╮╷ ╷┌─╮
╰╴╶─╯╵ ╵╵ ╵╰─╯╵ ╵</a></pre>
  <div class="top-nav">
<h6>
<pre class="art-p">  
▒ 
  </pre><pre class="art-p"><a href="{{ site.baseurl }}/about/">╭─╮┌─╮╭─╮╷ ╷─┬─
├─┤├─┤│ ││ │ │ 
╵ ╵└─╯╰─╯╰─╯ ╵ </a></pre>
<pre class="art-p"> 
▒
 </pre>
<pre class="art-p"><a href="{{ site.baseurl }}/archive/">╭─╮╭─╮╭─╴╷ ╷╶┬╴┐┌┌─╴
├─┤│┬╯│  ├─┤ │ ││├─ 
╵ ╵╵╰╴╰─╴╵ ╵╶┴╴└┘└─╴</a></pre>
<pre class="art-p"> 
▒
 </pre></h6>
  </div>
</header>
