<header>
<pre class="art"><a class="site-header" href="{{ site.baseurl }}/"><center>  ╶─╮            
┼╴ ─┤├─╮╭┬╮╷ ╷┌─╮
╰╴╶─╯╵ ╵╵ ╵╰─╯╵ ╵</center></a></pre>
  <div class="top-nav">
<pre class="art-block-tiny">  
▒ 
  </pre><pre class="art-block-tiny"><a href="{{ site.baseurl }}/about/">╭─╮├─╮╭─╮╷ ╷┼─╴
╰─╰╰─╯╰─╯╰─╯╰─╯</a></pre>
<pre class="art-block-tiny"> 
▒
 </pre>
<pre class="art-block-tiny"><a href="{{ site.baseurl }}/archive/">╭─╮╭─╭─╴├─╮┐ ┐┌╭─╮
╰─╵╵ ╰─╴╵ ╵╰╴└┘╰─╴</a></pre>
<pre class="art-block-tiny"> 
▒
 </pre>
  </div>
</header>
