<header>
<pre class="art"><a class="site-header" href="{{ site.baseurl }}/"><center>  ╶─╮            
┼╴ ─┤├─╮╭┬╮╷ ╷┌─╮
╰╴╶─╯╵ ╵╵ ╵╰─╯╵ ╵</center></a></pre>
<div class="top-nav">
<pre class="art-block-tiny">  
▒ 
  </pre><pre class="art-block-tiny"><a href="{{ site.baseurl }}/about/">╭─╮├─╮╭─╮╷ ╷┼─╴
╰─╰╰─╯╰─╯╰─╯╰─╯</a></pre>
<pre class="art-block-tiny"> 
▒
 </pre>
<pre class="art-block-tiny"><a href="{{ site.baseurl }}/archive/">╭─╮╭─╭─╴├─╮┐ ┐┌╭─╮
╰─╵╵ ╰─╴╵ ╵╰╴└┘╰─╴</a></pre>
<pre class="art-block-tiny"> 
▒
 </pre>
  <span class="themebuttons">    
    Theme: 
    <script type="text/javascript">
      function changetheme(name){
        document.getElementById('maincss').setAttribute('href',name);
      }
      function changepfont(font){
        var eles = document.getElementsByTagName('p');
        for (var i=0; i < eles.length; i++){
          eles[i].style.fontFamily=font;
          eles[i].style.letterSpacing=0;
        }
      }
      function garishprompt(){
        font = prompt("Insert custom fontname.");
        changepfont(font);
      }
    </script>
    <span class="themebutton">
      <button onclick="changetheme('{{ "/css/main-light.css" | prepend: site.baseurl }}')"> light </button>
    </span>  
    <pre class="art-block-tiny">▒</pre>
    <span class="themebutton">
      <button onclick="changetheme('{{ "/css/main.css" | prepend: site.baseurl }}')"> dark </button>
    </span>
    <pre class="art-block-tiny">▒</pre>
    <span class="themebutton">
      <button onclick="changepfont('veranda')"> veranda </button>
    </span>
    <pre class="art-block-tiny">▒</pre>
    <span class="themebutton">
      <button onclick="garishprompt()"> custom </button>
    </span>
    <pre class="art-block-tiny">▒</pre>
  </span>
  
</div>

</header>
