<section>
  <h4><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
  
  <div class="archive-container">
    <footer>
      <div class="foot">
        <span class="date"> Posted on:
          <time datetime="{{ post.date | date: " %F %H:%M " }}">{{ post.date | date: "%F at %H:%M" }}</time>
        </span>
        <span class="tags">
          <a href="{{ site.baseurl }}/archive/#{{ post.categories }}">[{{ post.categories }}]</a>
          {% for tag in post.tags %}  [{{tag}}] {% endfor %}
        </span>
      </div>
    </footer>

    <span class="description">
      {{ post.description }}
    </span>
  </div>

</section>