    <section>
      <!-- <header> tag should only be used if the header is more than a single <h#> tag. -->
      <h4><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
      <!-- Footer tag used for information about the article. -->
      <footer>
        <span></span>
        <span class="heading-footer">
            [{{ post.categories }}] Posted on:
        <!-- The datetime attribute contains a machine readable date. -->
        <time datetime="{{ post.date | date: " %F %H:%M " }}">{{ post.date | date: "%F at %H:%M" }}</time></span>
      </footer>
      <p>{{ post.description }}</p>
    </section>