/* Site header
 */
.site-header {
    border-top: $thick-line none $highlight-colour;
    border-bottom: $thin-line none $highlight-colour;
    margin-bottom: $endpara-margin;
}

/* Site footer
 */
.site-footer {
    border-top: $thin-line none $highlight-colour;
    border-bottom: $thick-line none $strong-colour;
    text-align: center;
    font-size: $small-font-size;
}

article {
    border-bottom: $thin-line solid $subtle-colour;
}