// _style.scss written by t3hmun (Manish Parekh, t3hmun at gmail dot com)
//
// This is my personal website version, a little more messy than the original version (http://t3hmun.github.io/t3hsite/).
// It is less accessible than the main version due to text-art.
//
// License:
// 
// Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)
// http://creativecommons.org/licenses/by-sa/4.0/ 
//

body {
  // Set defaults
  font-family: $base-font-family;
  color: $text-colour;
  font-size: $base;
  background: $background-colour;

  // Auto margin to centre the body.
  margin: 0 auto;

  // Apply maximum width limit to all content.
  max-width: $content-width;

  // Universal line height, helps maintain consistent spacing throughout the page.
  line-height: $line-height;
}

// This wrapper allows content-wide elements to have margins.
// Important for the header drop-shadows.
.body-wrapper {
  background: $background-colour;
  padding: 0 1px;
}

p {
  font-family: $p-font-family;
  max-width: $reading-width;

  // Centred with standard vspace & gutter.
  display: block;
  margin: $vspace auto;
  padding: 0 $gutter;

  //Inline code, inline-block to avoid linebreaks.
  code {
    font-family: $syntax-font-family;
    font-size: $syntax-font-size;
    color: $subtle-fore-colour;
    display: inline-block;
  }
}

a {
  // Underlines are distracting, link-colour is sufficient.
  text-decoration: none;
  color: $link-colour;
}

a:hover {
  color: $link-hover-colour;
}

// Images resize to fit container width, helps mobile devices.
img {
  width: 100%;
}

// Set the basic common appearance between other-text elements.
ol, ul, blockquote, dl {
  max-width: $other-text-width;

  // Centred with standard vspace & gutter.
  display: block;
  margin: $vspace auto;
  padding: 0 $gutter;

  // These elements have an unusual width, so they require some kind of box to demarcate the space they are mean to consume.
  background-color: $subtle-back-colour;

  // Reset p to fill the containing element instead of constricting itself to $reading-width.
  p {
    max-width: none;
    margin: 0;
    padding: 0;
  }
}

blockquote {
  // A chunky line on the left side to denote blockquotes.
  border-left: solid $blockquote-side-line $medium-colour;

  // The border increases the width, so it must be shrunk by that much.
  max-width: $other-text-width - $blockquote-side-line;

  blockquote {
    margin: 0 $gutter;
  }
}

ul {
  list-style: disc inside none;
}

// Styles for ordered list hierarchies.
ol {
  list-style: decimal inside;
}

ul, ol {
  // Extra padding for bullet space.
  padding: 0 $gutter 0 $bullet-padding;

  // Make adjustments for the $gutter that other elements have and $bullet-padded that lists have.
  max-width: $other-text-width - $bullet-padding + $gutter;

  ul, ol {
    padding: 0 $bullet-padding;
    margin: 0;
  }

  ul {
    list-style: circle inside none;

    ul {
      list-style: square inside none;
    }
  }

  ol {
    list-style: lower-latin inside;

    ol {
      list-style: lower-roman inside;
    }
  }
}

// Most of the styling for pre is done by the syntax stylesheet.
pre {
  // Block display with auto margins centres the block in the screen.
  // Vertical margins to space elements.
  // Add padding to maintain a gutter.
  display: block;
  margin: $vspace auto;
  padding: 0 $gutter;
  font-family: $syntax-font-family;
  border: solid 1px $subtle-back-colour;
}

h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: $line-height - $header-border * 2;
  border: solid $header-border $subtle-back-colour;
  margin: $vspace 0 0 0;
  padding: 0 $gutter;
}

// Header 2 is the main title for the contents of a page.
h2 {
  font-size: $h2-size;
  color: $h2-colour;
  border: solid $header-border $highlight-colour;
  margin-right: 5px;
  box-shadow: 5px 5px 0 $highlight-colour;
  line-height: $line-height * 2 - $header-border * 2;

  // Neatly follows on from the masthead and nav.
  text-align: center;

  // H2 is always a link to itself, needs title colour not link colour.
  a {
    text-decoration: none;
    color: $highlight-colour;
  }

  &.triple-height {
    line-height: $line-height * 2 - $header-border * 2;
  }
}

h3 {
  font-size: $h3-size;
  color: $h3-colour;
  margin-right: 5px;

  // H3 gets box shadow as main article section title.
  box-shadow: 5px 5px 0 $subtle-back-colour;
  margin-right: 5px;
}

h4 {
  font-size: $h4-size;
  color: $h4-colour;
}

h5 {
  font-size: $h5-size;
  color: $h5-colour;
}

h6 {
  font-size: $h6-size;
  color: $h6-colour;
}

// Top level site <footer>.
.site-footer {
  text-align: center;

  // Centre text.
  // Width needs to match content area due to dividing border line.
  max-width: $content-width;

  //Extra margin to space footer away from content.
  display: block;
  margin: $vspace auto;

  // Vertical padding to space text away from border line.
  // Horizontal padding for gutter.
  padding: $vspace $gutter;

  // Smaller font size for non-main-content information.
  font-size: $small-font-size;

  // A line to separate the footer from the main body.
  border-top: solid $site-footer-top-border $highlight-colour;
}

.hatchbox {
  background: repeating-linear-gradient(120deg, $background-colour, $background-colour 3px, $subtle-back-colour 2px, $subtle-back-colour 4px);
}

.bar {
  @extend .hatchbox;

  line-height: $line-height;
  min-width: 100px;
}

// The meta-sub-title for a heading.
.heading-footer {
  font-size: $small-font-size;

  // Restrict to content width, lines up with heading.
  max-width: $content-width;
  line-height: $line-height;

  // Center block.
  display: block;
  margin: 0 auto;
  padding: 0 $gutter;
  background: none;
}

// A centred block where the content is also centred.
.centre-block {
  max-width: $content-width;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

// Special tag for block-art.
.art {
  font-size: $base;
  line-height: $base * 1.35;
  color: $highlight-colour;
  font-family: "Source Code Pro";
  white-space: pre;
  letter-spacing: 0;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;

  a {
    color: $highlight-colour;
    text-decoration: none;
  }

  a:hover {
    color: $link-colour;
  }
}

.miniart {
  font-size: $small-art-size;
  line-height: $small-art-size * 1.35;
  margin: 0;
  padding: 0;
  font-weight: 900;
}

.bigart {
  font-size: $big-art-size;
  line-height: $big-art-size * 1.1;
  margin: 0;
  padding: 0;
}

// The following three divs are for resizing element to fit different widths.
// They can be inserted into Markdown using `{: .other-text-width }` to add the appropriate div to the most recent block.
.reading-width {
  max-width: $reading-width;
  margin: $vspace auto;
  padding: 0 $gutter;
}

.content-width {
  max-width: $content-width;
  margin: $vspace auto;
  padding: 0 $gutter;
}

.other-text-width {
  max-width: $other-text-width;
  margin: $vspace auto;
  padding: 0 $gutter;
}

// Styling for the archive page.
.archive-container {
  max-width: $content-width;
  margin: $vspace auto;
  padding: 0 $gutter;
  border-left: solid $base $subtle-back-colour;

  .description {
    display: block;
    margin: 0  auto;
    padding: 0 $gutter;

    //max-width: $other-text-width;
    line-height: $line-height;
    clear: both;

    p {
      max-width: none;
    }
  }

  .title {
    h4 {
      border: none;
      margin: 0;
      padding: 0;
      line-height: $line-height;
    }

    .foot {
      display: block;
      font-size: $small-font-size;
      color: $subtle-fore-colour;

      .date {
        display: block;
        float: left;
        margin: 0;
        padding: 0 $gutter;
        line-height: $line-height;
      }

      .tags {
        display: block;
        float: right;
        margin: 0;
        padding: 0 $gutter;
        line-height: $line-height;
      }
    }
  }
}

.scripty {
  @extend .hatchbox;

  font-size: $small-font-size;
  color: $subtle-fore-colour;
  margin: 0;
  padding: $gutter $gutter;
  line-height: $line-height;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
}

.toc {
  @extend .hatchbox;

  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  
  bottom: $line-height;
  
  padding: $gutter $gutter;
}

.toc-toggle {
  @extend .hatchbox;

  display: none;
  position: fixed;
  right: 0;
  bottom:0;
  
  padding: $gutter $gutter;
}
