<!DOCTYPE html>

<html lang="en-GB">

  {% include head.html %}
  
  <body>
    <div class="body-wrapper">
      
<header>
  <div class="centre-block"><div class="art bigart"><a href="{{ site.baseurl }}/">
╭───────────────────╮
│   ╶─╮             │
│ ┼╴ ─┤├─╮╭┬╮╷ ╷┌─╮ │
│ ╰╴╶─╯╵ ╵╵ ╵╰─╯╵ ╵ │
╰───────────────────╯</a></div>
    <nav><div class="art miniart "><a href="{{ site.baseurl }}/about/">         ╷                     
   ╭───╮ ├───╮╭───╮╷   ╷╶┼─╴   
▒  │   │ │   ││   ││   │ │    ▒
   ╰───╰ ╰───╯╰───╯╰───╯ ╰─╴   
</a></div><div class="art miniart"><a href="{{ site.baseurl }}/archive/">                  ╷      .             
   ╭───╮ ╭──╴╭───╴├───╮ ╶┐ ╷  ╷╭───╮   
▒  │   │ │   │    │   │  │ └┐┌┘├───╯  ▒
   ╰───╰ ╵   ╰───╴╵   ╵  ╰╴ └┘ ╰───╯   </a></div>
    </nav>
  </div>
</header>

    <main>
      {{ content }}
    </main>
    
    <footer>
      <div class="site-footer">

        <a href="{{ site.baseurl }}/feed.xml">RSS</a> 
        -
        <a href="http://github.com/t3hmun">My Github</a> 
        -
        <a href="http://t3hmun.github.io">My Main Site</a> 
        - 
        blog <em>at</em> t3hmun <em>dot</em> com

      </div>
    </footer>
    </div>
  </body>

</html>